/* Estilização das páginas */
.App {
  background-color: #edeccf;
  min-height: 100vh; /* Garante altura mínima da tela inteira */
  width: 100%;
  display: flex;
  /* flex-direction: column; */
}

/* Estilização das mensagens de erro */
.error {
  color: red;
  font-size: clamp(14px, 2vw, 20px); /* Responsivo: adapta tamanho da fonte */
  position: relative; /* evita problemas em telas menores */
  text-align: center;
  width: 100%;
  padding: 0.5rem 1rem; /* evita que o texto encoste nas bordas */
  word-wrap: break-word; /* impede quebra estranha de layout */
}
